<div id="content">
    <h2 class=firstHeading">{{shopname}}</h2>

    <div id="bodyContent">
        {{food}}<br>
        {%- if limit -%}{{limit}}食限定<br>{% endif %}
        p{{page}}<br>
        {%- if could_get_pos -%}
        <div id="stepspanel">
            <a href="javascript:go({{coords[0]}}, {{coords[1]}}, '{{shopname}}')">ここに行く</a> ({{distance}})
        </div>
        {% endif %}

    </div>
</div>